﻿@model List<WebProje.Data.Yorum>

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12" style="background-color:whitesmoke">
                <hr>
                <h2 class="intro-text text-center" style="color:#03a9f4">
                    <strong>Yorumlar</strong>
                </h2>
                <hr>
            </div>
        </div>
    </div>
</div>

@{
    for (int i = 0; i < Model.Count(); i++)
    {
        <div style="border:1px solid red">

            <h3>Üye Bilgileri</h3>
            Adı : @Model[i].Uyeler.uyeAd<br />
            Soyadı : @Model[i].Uyeler.uyeSoyad<br />
            <h3>Makale Bilgileri</h3>

            Başlık : @Model[i].Kitaplar.kitapAd
            <h3>Yorumun İçeriği</h3>
            <p>@Model[i].yorumIcerik</p>
            Tarih : @Model[i].yorumTarih

        </div>
    }
}

