﻿@model WebProje.Data.Uye

@{
    ViewBag.Title = "YeniUyelik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <style type="text/css">
        #formKapsayici {
            box-shadow: 0 0 5px gray;
            padding: 25px;
            height: 500px;
        }

        #divSol, #divSag {
            float: left;
            margin-left: 25px;
        }

            #divSol *, #divSag * {
                margin-top: 15px;
            }
            #divSol{
                color:antiquewhite;
            }

        input[type="text"] {
            width: 250px;
        }

        #btnUyeOl {
            clear: both;
            display: block;
            margin-left: 170px;
        }
    </style>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#textBoxDogum").datepicker();
        });
    </script>
}
@using (Html.BeginForm("YeniUyelik", "Uyelik", FormMethod.Post, new { enctype = "multipart/form-data", id = "formKapsayici" }))
{
    <div id="divSol">
        @Html.LabelFor(i => Model.uyeAd)<br /><br />
        @Html.LabelFor(i => Model.uyeSoyad)<br /><br />
        @Html.LabelFor(i => Model.EPosta)<br /><br />
        @Html.LabelFor(i => Model.Sifre)<br /><br />
        @Html.Label("Doğum Tarihiniz")<br /><br />
        @Html.Label("Profil Resminiz")<br /><br />
    </div>
    <div id="divSag">
        : @Html.TextBoxFor(i => Model.uyeAd)<br /><br />
        : @Html.TextBoxFor(i => Model.uyeSoyad)<br /><br />
        : @Html.TextBoxFor(i => Model.EPosta)<br /><br />
        : @Html.TextBoxFor(i => Model.Sifre)<br /><br />
        : @Html.TextBox("textBoxDogum")<br /><br />

        <input type="file" id="inputFile" name="file" /> <br /><br />

    </div>
    <input type="submit" value="Giriş" id="btnUyeOl" />
    
    @Html.ValidationSummary()
}
