﻿@model WebProje.Data.Uye

@{
    ViewBag.Title = "Detay";
    Layout = "~/Areas/Yonetici/Views/Shared/_AdminLayout.cshtml";
}

<h2>Detay</h2>

<div>
    <h4>Uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uyeAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uyeAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uyeSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uyeSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPosta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPosta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeOlmaTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeOlmaTarih)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.uyeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
