﻿@model IEnumerable<WebProje.Data.Uye>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Yonetici/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Paneli</h2>
<body>
        <a href="/Yonetici/Yonetici/UyeIslemleri" style="color:aquamarine">Üyelik İşlemleri</a>
        <a href="/Yonetici/Yonetici/KitapIslemleri" style="color:aquamarine">Kitap İşlemleri</a>
</body> 