﻿@model WebProje.Data.Kitap

@{
    ViewBag.Title = "KitapDetay";
    Layout = "~/Areas/Yonetici/Views/Shared/_AdminLayout.cshtml";
}

<h2>KitapDetay</h2>

<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kitapAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitapAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kitapYazar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitapYazar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategori)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kitapTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitapTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kitapResim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitapResim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kitapID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
