﻿@model IEnumerable<WebProje.Data.Kitap>

@{
    ViewBag.Title = "KitapIslemleri";
    Layout = "~/Areas/Yonetici/Views/Shared/_AdminLayout.cshtml";
}

<h2>KitapIslemleri</h2>

<p>
    @Html.ActionLink("Kitap Ekle", "KitapEkle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kitapAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitapYazar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategori)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitapTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitapResim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kitapAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitapYazar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitapTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitapResim)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "KitapDuzenle", new { id=item.kitapID }) |
            @Html.ActionLink("Detay", "KitapDetay", new { id=item.kitapID }) |
            @Html.ActionLink("Kitap Sil", "KitapSil", new { id=item.kitapID })
        </td>
    </tr>
}

</table>
