﻿@model WebProje.Data.Kitap

@{
    ViewBag.Title = "KitapSil";
    Layout = "~/Areas/Yonetici/Views/Shared/_AdminLayout.cshtml";
}

<h2>KitapSil</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kitapAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitapAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kitapYazar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitapYazar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategori)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kitapTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitapTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kitapResim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitapResim)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
