﻿@model IEnumerable<WebProje.Data.Uye>

@{
    ViewBag.Title = "UyeIslemleri";
    Layout = "~/Areas/Yonetici/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="color:antiquewhite">Üye İşlemleri</h2>

<p>
    @Html.ActionLink("Üye Ekle", "UyeEkle")
</p>
<table class="table" border="1" style="background-color:#428bca">
    <tr>
        <th style="color:#f6ddb0">
            Üye Adı
        </th>
        <th style="color:#f6ddb0">
           Üye Soyadı
        </th>
        <th style="color:#f6ddb0">
            E-Posta
        </th>
        <th style="color:#f6ddb0">
            Üye Olma Tarihi
        </th>
        <th style="color:#f6ddb0"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="background-color:#151c22">
            <td style="color:#f6ddb0">
                @Html.DisplayFor(modelItem => item.uyeAd)
            </td>
            <td style="color:#f6ddb0">
                @Html.DisplayFor(modelItem => item.uyeSoyad)
            </td>
            <td style="color:#f6ddb0">
                @Html.DisplayFor(modelItem => item.EPosta)
            </td>
            <td style="color:#f6ddb0">
                @Html.DisplayFor(modelItem => item.UyeOlmaTarih)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Duzenle", new { id = item.uyeID },new { style = "color:#ff0000" }) |
                @Html.ActionLink("Detay", "Detay", new { id = item.uyeID }, new { style = "color:#ff0000" })) |
                @Html.ActionLink("Üye Sil", "UyeSil", new { id = item.uyeID }, new { style = "color:#ff0000" }))
            </td>
        </tr>
    }

</table>

