﻿@model WebProje.Data.Uye

@{
    ViewBag.Title = "UyeSil";
    Layout = "~/Areas/Yonetici/Views/Shared/_AdminLayout.cshtml";
}

<h2>UyeSil</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uyeAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uyeAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uyeSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uyeSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPosta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPosta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeOlmaTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeOlmaTarih)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
