﻿
@{
    ViewBag.Title = "YetkiYok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><img src="~/Images/alarm.gif" /></center>
<center><h2 style="color:whitesmoke">Bu sayfa için yetkiniz yoktur!!!</h2></center>
