﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ne Okumalı?</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/business-casual.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <style type="text/css">
        body {
            background-image: url(/Images/bg.jpg);
            background-attachment: fixed;
        }
    </style>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/Home/Anasayfa">Ne Okumalı?</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink(Resources.lang.Anasayfa, "Anasayfa", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(Resources.lang.Puan_Kataloğu, "PuanKatalogu", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(Resources.lang.Hakkımızda, "Hakkimizda", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(Resources.lang.İletişim, "Iletisim", "Home")
                    </li>
                    <li class="dropdown" align="right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Resources.lang.Dil <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "tr", returnUrl = this.Request.RawUrl }, null)</li>
                            <li>@Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnUrl = this.Request.RawUrl }, null)</li>
                        </ul>
                    </li>
                </ul>
                <div class="col-sm-3 col-md-3">
                    <div class="navbar-form" role="search">
                        <div class="input-group-btn">
                            @using (Html.BeginForm("Arama", "Home", FormMethod.Get))
                            {
                                @Html.TextBox("aranan")
                                <input type="submit" value="@Resources.lang.Search" class="search-button">
                            }
                        </div>
                    </div>
                </div>
                
                    @if (Session["uyeAd"] == null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink(Resources.lang.Kaydol, "YeniUyelik", "Uyelik")</li>
                            <li>@Html.ActionLink(Resources.lang.Giriş, "Giris", "Uyelik")</li>
                        </ul>
                    }
                    else
                    { 
                    <ul class="nav navbar-nav navbar-right">
                        <li>Hoşgeldiniz, @Session["uyeAd"]</li>
                        <li>@Html.ActionLink("Çıkış", "Cikis", "Uyelik")</li>
                    </ul>
                    }

                @if ((string)Session["Yetki"]=="Yonetici")
                {
                    <a class="navbar-brand" href="/Yonetici/Yonetici/Index">Admin</a>
                }
            </div>
        </div>
    </nav>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-unobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

