﻿@model IEnumerable<WebProje.Data.Kitap>

@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <div class="col-md-2" style="background-color: #151c22">
                            <p class="lead" style="color:#f6ddb0">@Resources.lang.Kategoriler</p>
                            <div class="list-group">
                                <a href="/Home/Roman" class="list-group-item">@Resources.lang.Roman</a>
                                <a href="/Home/Oyku" class="list-group-item">@Resources.lang.Öykü</a>
                                <a href="/Home/Siir" class="list-group-item">@Resources.lang.Şiir</a>
                                <a href="/Home/Deneme" class="list-group-item">@Resources.lang.Deneme</a>
                                <a href="/Home/Ani" class="list-group-item">@Resources.lang.Anı</a>
                                <a href="/Home/GeziYazisi" class="list-group-item">@Resources.lang.Gezi_Yazısı</a>
                                <a href="/Home/CizgiRoman" class="list-group-item">@Resources.lang.Çizgi_Roman</a>
                                <a href="/Home/Arastirma" class="list-group-item">@Resources.lang.Araştırma_Tarih</a>
                            </div>
                        </div>


                        <div class="col-md-9">
                            <div class="row carousel-holder">
                                <div class="col-md-12">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img class="slide-image" src="~/Images/slide-1.jpg" alt="">
                                            </div>
                                            <div class="item">
                                                <img class="slide-image" src="~/Images/slide-2.jpg" alt="">
                                            </div>
                                            <div class="item">
                                                <img class="slide-image" src="~/Images/slide-3.jpg" alt="">
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h2 style="color:#f6ddb0">@Resources.lang.Son_Eklenenler</h2>
                            <table class="table" border="1" style="background-color:#428bca">
                                <tr>
                                    <th style="color:#f6ddb0">
                                        <center>@Resources.lang.Kitabın_Adı</center>
                                    </th>
                                    <th style="color:#f6ddb0">
                                        <center>@Resources.lang.Kitabın_Yazarı</center>
                                    </th>
                                    <th style="color:#f6ddb0">
                                        <center>@Resources.lang.Çıkış_Tarihi</center>
                                    </th>
                                    <th style="color:#f6ddb0"></th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr style="background-color:#151c22">
                                        <td style="color:#f6ddb0">
                                            @Html.DisplayFor(modelItem => item.kitapAd)
                                        </td>
                                        <td style="color:#f6ddb0">
                                            @Html.DisplayFor(modelItem => item.kitapYazar)
                                        </td>
                                        <td style="color:#f6ddb0">
                                            @Html.DisplayFor(modelItem => item.kitapTarih)
                                        </td>
                                        <td>
                                            @Html.ActionLink(Resources.lang.Detay, "Detay", "CRUD")
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
