﻿@model IEnumerable<WebProje.Data.Kitap>

@{
    ViewBag.Title = "Arama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Arama</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kitapAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitapYazar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategori)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitapTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitapResim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kitapAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitapYazar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitapTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitapResim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.kitapID }) |
            @Html.ActionLink("Details", "Details", new { id=item.kitapID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.kitapID })
        </td>
    </tr>
}

</table>
