﻿
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12" style="background-color:whitesmoke">
                <hr>
                <h2 class="intro-text text-center" style="color:#FF9800">
                    <strong>İletişim Formu</strong>
                </h2>
                <hr>
            </div>
        </div>
    </div>
</div>

<body>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12" style="background-image:inherit">
                    <center>
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-md-20">

                                    <label style="color:#FF9800">@Resources.lang.Adınız</label>

                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-15">

                                    <label style="color:#FF9800">@Resources.lang.Soyadınız</label>

                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-15">

                                    <label style="color:#FF9800">@Resources.lang.E_Posta_Adresiniz</label>

                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group col-lg-15">
                                <label style="color:#FF9800">@Resources.lang.Mesajınız</label>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                            <div class="form-group col-lg-15">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-default" style="color:#FF9800">@Resources.lang.Gönder</button>
                            </div>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>
</body>


