﻿@model IEnumerable<WebProje.Data.Kitap>

@{
    ViewBag.Title = "Oyku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12" style="background-color:#428bca">
                    <hr>
                    <h2 class="intro-text text-center" style="color:rgb(224,68,65)">
                        <strong style="color:#f6ddb0">@Resources.lang.Öykü</strong>
                    </h2>
                    <hr>
                </div>
                <table class="table" border="1" style="background-color:#428bca">
                    <tr>
                        <th style="color:#f6ddb0">
                            <center>@Resources.lang.Kitabın_Adı</center>
                        </th>
                        <th style="color:#f6ddb0">
                            <center>@Resources.lang.Kitabın_Yazarı</center>
                        </th>
                        <th style="color:#f6ddb0">
                            <center>@Resources.lang.Çıkış_Tarihi</center>
                        </th>
                        <th style="color:#f6ddb0"></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr style="background-color:#151c22">
                            <td style="color:#f6ddb0">
                                @Html.DisplayFor(modelItem => item.kitapAd)
                            </td>
                            <td style="color:#f6ddb0">
                                @Html.DisplayFor(modelItem => item.kitapYazar)
                            </td>
                            <td style="color:#f6ddb0">
                                @Html.DisplayFor(modelItem => item.kitapTarih)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.kitapID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.kitapID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.kitapID })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>





