﻿
@{
    ViewBag.Title = "PuanKatalogu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12" style="background-color:whitesmoke">
                <hr>
                <h2 class="intro-text text-center" style="color:#03a9f4">
                    <strong>@Resources.lang.Puan_Kataloğu</strong>
                </h2>
                <hr>
            </div>
        </div>
    </div>
</div>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="/Images/2.jpg">
                    <img src="~/Images/2.jpg" alt="gozluk kitap ayraci" width="300" height="300">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Gözlük Kitap Ayracı!
                    </strong>
                </h3>
                <h4 style="color:#f5f5f5"><strong>Sadece 100 puana sizin olabilir!</strong></h4>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/Images/5.jpg">
                    <img src="~/Images/5.jpg" alt="ahsap kitap kutusu" width="300" height="300">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Ahşap Kitap Kutusu!
                    </strong>
                </h3>
                <h4 style="color:#f5f5f5"><strong>Sadece 200 puana sizin olabilir!</strong></h4>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/Images/6-v3.jpg">
                    <img src="~/Images/6-v3.jpg" alt="1000 parca puzzle" width="300" height="300">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        1000 Parça Puzzle!
                    </strong>
                </h3>
                <h4 style="color:#f5f5f5"><strong>Sadece 400 puana sizin olabilir!</strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="/Images/4.jpg">
                    <img src="~/Images/4.jpg" alt="ozel tasarim defter" width="300" height="300">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Özel Tasarım Defter!
                    </strong>
                </h3>
                <h4 style="color:#f5f5f5"><strong>Sadece 500 puana sizin olabilir!</strong></h4>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/Images/3.jpg">
                    <img src="~/Images/3.jpg" alt="ozel tasarim bez canta" width="300" height="300">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Özel Tasarım Bez Çanta!
                    </strong>
                </h3>
                <h4 style="color:#f5f5f5"><strong>Sadece 700 puana sizin olabilir!</strong></h4>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/Images/1.jpg">
                    <img src="~/Images/1.jpg" alt="ahsap model el mankeni" width="300" height="300">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Ahşap Model El Mankeni!
                    </strong>
                </h3>
                <h4 style="color:#f5f5f5"><strong>Sadece 1000 puana sizin olabilir!</strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="/Images/7.jpg">
                    <img src="~/Images/7.jpg" alt="ozel tasarim kumbara" width="300" height="300">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Özel Tasarım Kumbara!
                    </strong>
                </h3>
                <h4 style="color:#f5f5f5"><strong>Sadece 1500 puana sizin olabilir!</strong></h4>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/Images/8.jpg">
                    <img src="~/Images/8.jpg" alt="belgesel dvd seti" width="300" height="300">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Belgesel DVD Seti!
                    </strong>
                </h3>
                <h4 style="color:#f5f5f5"><strong>Sadece 2000 puana sizin olabilir!</strong></h4>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/Images/9.jpg">
                    <img src="~/Images/9.jpg" alt="ozel kitap seti" width="300" height="300">
                </a>
                <h3 style="color:yellowgreen">
                    <strong>
                        Özel Kitap Seti!
                    </strong>
                </h3>
                <h4 style="color:#f5f5f5"><strong>Sadece 3000 puana sizin olabilir!</strong></h4>
            </div>
        </div>
    </div>
</body>


