﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
    <style type="text/css">
        body {
            background-image: url(/Images/bg.jpg);
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
